<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Pass Engagement Jeune</title>
    <meta name="description" content="Ministère du Travail, de l'Emploi et de l'Insertion" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main class="container">
      <h1>Pass Engagement Jeune</h1>

      <p>Proposer aux jeunes en CEJ des avantages sur des biens et services essentiels pour lever les freins économiques à l'insertion professionnelle</p>
    </main>
  </body>
</html>
