h1 Connexion

form(action="" method="POST")
  label Identifiant
  input(type="text" name="email")
  input(type="password" name="password")
  input(type="submit" value="Se connecter")

a(href='/mot-de-passe-oublie') Mot de passe oublié?
