h1 Réinitialiser mon mot de passe

p Un email de réinitialisation de mot de passe a été envoyé à #{email}

p Cet email contient un lien permettant de réinitialiser votre mot de passe.

p Vous allez le recevoir d’ici quelques minutes, pensez à vérifier vos spams et courriers indésirables.

p Si vous ne recevez aucun email, cela veut dire que vous n'êtes pas encore éligible à l'offre PEJ.
