<!doctype html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="dsfr/dsfr.min.css">
    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="favicon/manifest.webmanifest" crossorigin="use-credentials">
    <title>Statistiques - Pass Engagement Jeune</title>
  </head>
  <body>
    <script type="module" src="dsfr/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="dsfr/dsfr.nomodule.min.js"></script>

    header(role="banner" class="fr-header")
      div(class="fr-header__body")
        div(class="fr-container")
          div(class="fr-header__body-row")
            div(class="fr-header__brand fr-enlarge-link")
              div(class="fr-header__brand-top")
                div(class="fr-header__logo")
                  p(class="fr-logo") République <br /> Française

              div(class="fr-header__service")
                a(href="/" title="Statistiques - Pass Engagement Jeune")
                  p(class="fr-header__service-title") Pass Engagement Jeune


    main(role="main")
      div(class="fr-container--fluid ds_banner")
        div(class="fr-container")
          div(class="fr-grid-row fr-grid-row--gutters fr-py-6w")
            div(class="fr-col-12 fr-mb-2w")

              h1 Statistiques

            div(class="fr-col-6 fr-col-md-4 fr-col-lg-3")
              div(class="fr-tile fr-enlarge-link")
                div(class="fr-tile__body")
                  h4(class="fr-tile__title") 0 jeunes CEJ
                  p(class="fr-tile__desc") Bénéficiaires de nos offres
            div(class="fr-col-6 fr-col-md-4 fr-col-lg-3")
              div(class="fr-tile fr-enlarge-link")
                div(class="fr-tile__body")
                  h4(class="fr-tile__title") #{offres} offres
                  p(class="fr-tile__desc") Solutions négociées auprès de nos partenaires
            div(class="fr-col-6 fr-col-md-4 fr-col-lg-3")
              div(class="fr-tile fr-enlarge-link")
                div(class="fr-tile__body")
                  h4(class="fr-tile__title") #{partenaires} partenaires
                  p(class="fr-tile__desc") Entreprises qui nous accompagnent

    <footer class="fr-footer" role="contentinfo" id="footer">
      <div class="fr-container">
        <div class="fr-footer__body">
          <div class="fr-footer__brand fr-enlarge-link">
            <a href="/" title="Retour à l’accueil">
              <p class="fr-logo" title="république française">république<br>française</p>
            </a>
          </div>
          <div class="fr-footer__content">
            <p class="fr-footer__content-desc">Proposer aux jeunes en CEJ des avantages sur des biens et services essentiels pour lever les freins économiques à l'insertion professionnelle</p>
            <ul class="fr-footer__content-list">
              <li>
                <a class="fr-footer__content-link" href="https://travail-emploi.gouv.fr/" target="_blank" rel="noopener">Ministère du Travail, de l'Emploi et de l'Insertion</a>
              </li>
              <li class="fr-footer__content-item">
                <a class="fr-footer__content-link" href="https://legifrance.gouv.fr" target="_blank" rel="noopener">legifrance.gouv.fr</a>
              </li>
              <li class="fr-footer__content-item">
                <a class="fr-footer__content-link" href="https://gouvernement.fr" target="_blank" rel="noopener">gouvernement.fr</a>
              </li>
              <li class="fr-footer__content-item">
                <a class="fr-footer__content-link" href="https://service-public.fr" target="_blank" rel="noopener">service-public.fr</a>
              </li>
              <li class="fr-footer__content-item">
                <a class="fr-footer__content-link" href="https://data.gouv.fr" target="_blank" rel="noopener">data.gouv.fr</a>
              </li>
              <li class="fr-footer__content-item">
                <a class="fr-footer__content-link" href="https://beta.gouv.fr" target="_blank" rel="noopener">beta.gouv.fr</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fr-footer__bottom">
          <ul class="fr-footer__bottom-list">
            <li class="fr-footer__bottom-item">
              <a class="fr-footer__bottom-link" href="#">Accessibilité: non-conforme</a>
            </li>
            <li class="fr-footer__bottom-item">
              <a class="fr-footer__bottom-link" href="#">Conditions générales d'utilisation (mentions légales et gestion des données personnelles)</a>
            </li>
            <li class="fr-footer__bottom-item">
              <a class="fr-footer__bottom-link" href="/stats">Statistiques</a>
            </li>
          </ul>
          <div class="fr-footer__bottom-copy">
            <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener">licence etalab-2.0</a>
            </p>
          </div>
        </div>
      </div>
    </footer>


  </body>
</html>
